a:hover{
  color: #0085a1;
  text-decoration: none;
}

/* 导航栏 */
  /* 导航栏的位置大小颜色 */
  #mainNav {
    position: absolute;
    padding: 12px;
  }

  /* 导航栏字体粗细和颜色设置 */
  #mainNav .navbar-brand {
    /*font-weight: 800;*/
    /*color: #343a40;*/
    /*color: #FFFFFF;*/
    font-weight: 500;
    /* color: #343a40; */
    color: #FFFFFF;
    font-size: 25px;
  }
  #mainNav #navbarResponsive {
    font-weight: 800;
    /* 字母变大写 */
    /* text-transform: uppercase; */
  }

  /* 相应导航栏 */
  #mainNav {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
/* 导航栏 */


/* header */
  /* 背景图片 */
  header.masthead {
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
  }
  /* 半透明黑色蒙版 */
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
  }
  /* 设置头部大小,header字体大小颜色 */
  /* header.masthead .page-heading,
  header.masthead .post-heading, */
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: #fff;
    text-align: center;
  }
  /* 标题大小 */
  header.masthead .site-heading h1{
    font-size: 80px;
  }
  header.masthead .site-heading .subheading{
    font-size: 25px;
  }

/* header */

#folding {
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


.dropdown-menu {
    /* position: absolute; */
    top: 100%;
    left: 0;
    z-index: 1000;
    /* display: none; */
    /* float: left; */
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.9375rem;
    color: #373a3c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
}

.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,.5); */
    color: rgba(255,255,255,.8);
}